// Typography.
$font-xs: 12px;
$font-sm: 14px;
$font-reg: 16px;
$font-lg: 18px;
$font-xl: 20px;

// Colors.
$bg-1: #666;
$bg-2: #111;
$bg-3: #222;

$primary: #ccc;
$secondary: #5d5d5d;
$light: #ffffff;

$success: #44d62c;
$error: #c8323c;
